header[role="main"] h1 {
  font-family: poynter-oldstyle-display, serif;
  text-transform: lowercase;
  font-size: 25px;
}

header[role="main"] h1 a {
  text-decoration: none;
  color: #373b4d;
  display: flex;
  align-items: center;
}

header[role="main"] h1 img {
  margin-right: 10px;
}
